config = dict(
	# When set to true, bot will not actually tweet or auto like
	development_mode		= True,
	subreddit 				= 'earthporn',
	image_submissions_only 	= True,
	tweet_with_title 		= True,

	# Use this regex to remove unwanted substrings in the title
	# set to None or False otherwise
	tweet_title_regex = '(\[|\()(OC|[0-9]+(\ ?.\ ?)[0-9]+)?(\]|\))',
	# tweet_title_regex = None,

	# cron minute for tweet (e.g. '15,45' will run tweetFromQueue every x:15 and x:45)
	tweet_cron_minute 		= '0,30',

	# enable autoliker?
	autoliker_enabled = False,

	# cron minute for autoliker (e.g. '15,45' will run autoliker every x:15 and x:45)
	autoliker_cron_minute 	= '0,45',

	# max tweets to like every time searchAndLike is run
	autoliker_max_tweets 	= 20,
	autoliker_search_query 	= 'dog memes'
)

twitter_keys = dict(
	consumer_key =          '',
	consumer_secret =       '',
	access_token =          '',
	access_token_secret =   '',
)

reddit_keys = dict(
	client_id = '',
	client_secret = '',
	user_agent = ''
)